<div class="container">

	<div class="card">
		<div class="container">
			<div class="row">

				<div class="col s12">
					<h2 >About Us</h2>
				</div>

				<div class="col s12">
					<div class="card-image">
						<img src="/assets/images/group.jpg">
					</div>
				</div>
				<div class="col s12">
					<h4>Who are we? </h4>

				</div>
				<div class="col s12">
					<p>
						We’re a student organization that hosts social events and community service events for students to network and have fun, and corporate and techical talks to help companines recruit on campus and students advancer their careers. We also work with HKN to manage and staff the dB Cafe, a food stand that provides food and refresments at a low cost.
						<br><br>
						Our organization has a fairly large reach, with over 400 members – composed of students in electrical engineering, computer engineering, and computer science – and two to three events per week throughout the Fall and Winter semesters. Our goal is to make sure that our members will be up-to-date with technical advances in their fields and have greater career opportunities.
					</p>
				</div>

				<div class="col s12">
					<h4>Interested in joining?</h4>

				</div>
				<div class="col s12">
					<p>
						If you’re interested in becoming a member, please fill out the IEEE Membership Form. We’ll then keep you updated with upcoming events and announcements.

					</p>
				</div>
				<div class="col s12">
					<h4>Interested in working with us? </h4>

				</div>
				<div class="col s12">
					<p>
						If you’re interested in working with us for recruitment purposes or hosting an event on campus, send an e-mail to our IEEE Corporate Chair:
						<br>ieee-corp@umich.edu, and we’ll get back to you promptly with how we can best help you.
						<br>
						To learn more about IEEE and its mission, visit ieee.org.
						<br><br><br><br>
					</p>
				</div>
			</div>


		</div>

	</div>
</div>
