<div class="container">
  <div class="row">
  <div class="col s12">
    <h3>Fall 2017 Officers</h3>
  </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="./assets/images/wil.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>President: Wil Kacsur</p>
          The president liaises with IEEE, and other organizations within the university and makes sure the club runs smoothly.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.pres@umich.edu">IEEE.pres@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="./assets/images/akshay.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Vice President: Akshay Chiwhane</p>
          The vice president helps plan the end of the year banquet, and helps other officers.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.vp@umich.edu">IEEE.vp@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="./assets/images/alex.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Secretary: Alex Martin</p>
          The secretary acts as communication channel between the officers and the general body.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.secretary@umich.edu">IEEE.secretary@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="http://ewh.ieee.org/sb/prc/turabo/Media/ieee_logo2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Treasurer: Jin Mo Yang</p>
          The treasurer manages the money, which helps pay for the social and networking events.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.treasurer@umich.edu">IEEE.treasurer@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="./assets/images/kayura.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Operations: Kayura Mendonza</p>
          The operations chair manages the db Cafe by stocking inventory, and scheduling volunteer shifts.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.operations@umich.edu">IEEE.operations@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="./assets/images/stefany.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Corporate Relations: Stefany Escobedo</p>
          The corporate relations chair arranges company information sessions.
        </div>
        <div class="card-action">
          <a href="mailto:ieee.corporate@umich.edu">ieee.corporate@umich.edu</a>`
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="http://ewh.ieee.org/sb/prc/turabo/Media/ieee_logo2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Publicity: Peifu Mo</p>
          The publicity chair spreads awareness about info sessions and events.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.Publicity@umich.edu">IEEE.Publicity@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="http://ewh.ieee.org/sb/prc/turabo/Media/ieee_logo2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Activities: Sarah Rose Peterson</p>
          The activities chair plans social events such as movie night.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.Activities@umich.edu">IEEE.Activities@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="./assets/images/andrew.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Projects: Andrew Wang</p>
          The project chair plans events such as Arduino and Python workshops.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.Projects@umich.edu">IEEE.Projects@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="http://ewh.ieee.org/sb/prc/turabo/Media/ieee_logo2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Historian: Abhilash Modepalli</p>
          The historian maintains the website and compiles all the pictures taken at events.
        </div>
        <div class="card-action">
          <a href="IEEE.pres@umich.edu">IEEE.pres@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="./assets/images/eilam.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Department: Eilam Morag</p>
          The department chair helps run the Professor speaker series.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.dept@umich.edu">IEEE.dept@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="./assets/images/shuta.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Recruitment: Shuta Suzuki</p>
          The recruitment chair maintains list of who are active members and recruits members to the club.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.Recruiting@umich.edu">IEEE.Recruiting@umich.edu</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card large">
        <div class="card-image">
          <img src="http://ewh.ieee.org/sb/prc/turabo/Media/ieee_logo2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Service: Matthew Cui</p>
          The service chair plans service events such as science olympiad coaching.
        </div>
        <div class="card-action">
          <a href="mailto:IEEE.Service@umich.edu">IEEE.Service@umich.edu</a>
        </div>
      </div>
    </div>
  </div>
</div>