  <div id="index-banner" class="parallax-container">
  	<div class="section no-pad-bot">
  		<div class="container">

  			<div class="row center">
  				<div class="col s12"> <p><br><br><br></p></div>
  				<div class="col s4"> <div class="right-align">
  					<p><br></p>
  					<img style= "height:105px; bottom:25px; position:relative" src="/assets/images/blockm.png"></div>
  				</div> 

  				<div class="col s6 left-align"><h2 class="header text-lighten-2">University of Michigan <br> IEEE Student Branch</h2> </div>
  			</div>
  			<div class="row center">
  				<a href="#aboutus" id="download-button" class="btn-large waves-effect waves-light blue darken-4">Learn More</a>
  			</div>
  			<br><br>

  		</div>
  	</div>
  	<div class="parallax"><img src="/assets/images/group.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
  	<div class="row">

  		<div class="container">
  			<div class="container ">

  				<div class="col s12 center">
  					<h3 >About Us</h3>
  				</div>
  				<div id="aboutus" class="section scrollspy">

  					<div class="section">
  						<h4>Who are we?</h4>
  						<p style="font-size:130%;">We’re a student organization that hosts social events and community service events for students to network and have fun, and corporate and techical talks to help companines recruit on campus and students advancer their careers. We also work with HKN to manage and staff the dB Cafe, a food stand that provides food and refresments at a low cost.
  							<br><br>
  							Our organization has a fairly large reach, with over 400 members – composed of students in electrical engineering, computer engineering, and computer science – and two to three events per week throughout the Fall and Winter semesters. Our goal is to make sure that our members will be up-to-date with technical advances in their fields and have greater career opportunities.</p>
  						</div>

  						<div class="divider grey darken-1"></div>
  						<div class="section">
  							<h4>What is IEEE as an international organization?</h4>
  							<p style="font-size:130%;">IEEE stands for Institute of Electronics and Electrical Engineers.<br>
  								IEEE is the largest professional association dedicated to advancing technological innovation.<br>
  								IEEE plays a role in specifying industry standards (e.g. WiFi), publishes papers, and holds conferences.<br>
  								Go to <a href="https://www.ieee.org/join">ieee.org/join </a> to join national organization.</p>
  							</div>
  							<div class="divider grey darken-1"></div>
  							<div class="section">
  								<h4>Interested in joining?</h4>
  								<p style="font-size:130%;">If you’re interested in becoming a member, please fill out the <a href="http://goo.gl/forms/1BWevBzmrV">IEEE Membership Form </a>. We’ll then keep you updated with upcoming events and announcements.</p>
  							</div>

  							<div class="divider grey darken-1"></div>
  							<div class="section">
  								<h4>Interested in working with us? </h4>
  								<p style="font-size:130%;">If you’re interested in working with us for recruitment purposes or hosting an event on campus, send an e-mail to our IEEE Corporate Chair:
  									<br>ieee-corp@umich.edu, and we’ll get back to you promptly with how we can best help you.
  									<br>
  									To learn more about IEEE and its mission, visit <a href="https://www.ieee.org">ieee.org</a>.
  								</p>
  							</div>




  						</div>
  					</div>
  				</div>
  			</div>
  		</div>


  		<div class="slider">
  			<ul class="slides">
  				<li>
  					<img src="https://pixy.org/images/placeholder.png" >
						<!-- <div class="caption center-align">
							<h3>This is our big Tagline!</h3>
							<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
						</div> -->
					</li>
					<li>
						<img src="https://pixy.org/images/placeholder.png">
						<!-- <div class="caption center-align">
							<h3>This is our big Tagline!</h3>
							<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
						</div> -->
					</li>
					<li>
						<img src="https://pixy.org/images/placeholder.png">
						<!-- <div class="caption center-align">
							<h3>This is our big Tagline!</h3>
							<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
						</div> -->
					</li>
					<li>
						<img src="https://pixy.org/images/placeholder.png">
						<!-- <div class="caption center-align">
							<h3>This is our big Tagline!</h3>
							<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
						</div> -->
					</li>

				</ul>



			</div>

